
*.log
*.log
*.log
Year 3 Project/obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
Year 3 Project/Library/ArtifactDB
Year 3 Project/Assembly-CSharp.csproj
Year 3 Project/.vs/Year 3 Project/FileContentIndex/48d4718f-f3b2-4242-8e86-7bd5bec3dcd3.vsidx
Year 3 Project/.vs/Year 3 Project/FileContentIndex/609bc6aa-9393-4a02-ade2-45d301a7ae96.vsidx
Year 3 Project/.vs/Year 3 Project/FileContentIndex/6df1d7bf-51f8-4a7d-ade6-8c71f4210bbc.vsidx
Year 3 Project/.vs/Year 3 Project/FileContentIndex/8263b6e5-7f46-4111-86d5-181f3a0a6c83.vsidx
Year 3 Project/.vs/Year 3 Project/FileContentIndex/946ec0fd-9309-474e-ae17-de327f030768.vsidx
Year 3 Project/.vs/Year 3 Project/FileContentIndex/9f0a8fef-f201-4c37-8169-31c177de9ce4.vsidx
Year 3 Project/.vs/Year 3 Project/FileContentIndex/b1804498-b5e1-4b6d-9673-be44ee49fa2e.vsidx
Year 3 Project/.vs/Year 3 Project/FileContentIndex/b9f0a0cd-6dfa-4d27-88cf-4cec0f012f77.vsidx
Year 3 Project/.vs/Year 3 Project/v17/.suo
Year 3 Project/Assembly-CSharp.csproj
Year 3 Project/Library/ArtifactDB
Year 3 Project/Library/Artifacts/26/2627cc557126e4ebb073bd19907a109f
Year 3 Project/Library/Artifacts/2f/2fe94ea7416eca73da7fe39c4e5dc6af
Year 3 Project/Library/Artifacts/31/313efba87d551b93a2da4824920d1798
Year 3 Project/Library/Artifacts/41/41d3bd83aeb79200f7fcc4f5c71a3b5a
Year 3 Project/Library/Artifacts/5d/5dc0d668eb405a5e4852d144418bb53b
Year 3 Project/Library/Artifacts/65/6589a8c8999ec1e4b98d7be5ca766244
Year 3 Project/Library/Artifacts/73/73ef57f46b7683c0acbfd2505637b715
Year 3 Project/Library/Artifacts/9e/9eae4fcead7ab2a53fecd2cd2e0d8450
Year 3 Project/Library/Artifacts/ae/ae67e4d348915b30b6fdd2e8c627691d
Year 3 Project/Library/Artifacts/cc/cc7acbf419ea71f06adce8e908b334ac
Year 3 Project/Library/Artifacts/cc/ccdb75fd711d67960ac0066d1827601d
Year 3 Project/Library/Artifacts/d9/d96e1f67a261b4b79ba7d6d0792043e2
Year 3 Project/Library/Artifacts/e3/e374115c83f53f99d84636605e6683d3
Year 3 Project/Library/Artifacts/e8/e8cc236866b1292abc85f7b61c20e5f0
Year 3 Project/Library/CurrentLayout-default.dwlt
Year 3 Project/Library/PackageManager/ProjectCache
Year 3 Project/Library/PackageManager/ProjectCache.md5
Year 3 Project/Library/SceneVisibilityState.asset
Year 3 Project/Library/ScriptAssemblies/Assembly-CSharp.dll
Year 3 Project/Library/ScriptAssemblies/Assembly-CSharp.pdb
Year 3 Project/Library/ScriptAssemblies/BuiltinAssemblies.stamp
Year 3 Project/Library/ScriptAssemblies/PsdPlugin.dll
Year 3 Project/Library/ScriptAssemblies/PsdPlugin.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Animation.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Animation.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Animation.Runtime.dll
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Animation.Runtime.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Animation.Triangle.Runtime.dll
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Animation.Triangle.Runtime.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Common.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Common.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Common.Runtime.dll
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Common.Runtime.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.2D.IK.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.2D.IK.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.2D.IK.Runtime.dll
Year 3 Project/Library/ScriptAssemblies/Unity.2D.IK.Runtime.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Path.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Path.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.2D.PixelPerfect.dll
Year 3 Project/Library/ScriptAssemblies/Unity.2D.PixelPerfect.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.2D.PixelPerfect.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.2D.PixelPerfect.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Psdimporter.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Psdimporter.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Sprite.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Sprite.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.2D.SpriteShape.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.2D.SpriteShape.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.2D.SpriteShape.Runtime.dll
Year 3 Project/Library/ScriptAssemblies/Unity.2D.SpriteShape.Runtime.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.InternalAPIEditorBridge.001.dll
Year 3 Project/Library/ScriptAssemblies/Unity.InternalAPIEditorBridge.001.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.InternalAPIEngineBridge.001.dll
Year 3 Project/Library/ScriptAssemblies/Unity.InternalAPIEngineBridge.001.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.Mathematics.dll
Year 3 Project/Library/ScriptAssemblies/Unity.Mathematics.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.Mathematics.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.Mathematics.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.PlasticSCM.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.PlasticSCM.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.Rider.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.Rider.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.Services.Core.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.Services.Core.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.TextMeshPro.dll
Year 3 Project/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.Timeline.dll
Year 3 Project/Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.Timeline.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.Timeline.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.VisualStudio.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.VisualStudio.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Year 3 Project/Library/ScriptAssemblies/Unity.VSCode.Editor.pdb
Year 3 Project/Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Year 3 Project/Library/ScriptAssemblies/UnityEditor.TestRunner.pdb
Year 3 Project/Library/ScriptAssemblies/UnityEditor.UI.dll
Year 3 Project/Library/ScriptAssemblies/UnityEditor.UI.pdb
Year 3 Project/Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Year 3 Project/Library/ScriptAssemblies/UnityEngine.TestRunner.pdb
Year 3 Project/Library/ScriptAssemblies/UnityEngine.UI.dll
Year 3 Project/Library/ScriptAssemblies/UnityEngine.UI.pdb
Year 3 Project/Library/SourceAssetDB
Year 3 Project/Logs/AssetImportWorker0-prev.log
Year 3 Project/Logs/AssetImportWorker0.log
Year 3 Project/Logs/shadercompiler-AssetImportWorker0.log
Year 3 Project/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Year 3 Project/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Year 3 Project/Logs/shadercompiler-UnityShaderCompiler.exe10.log
Year 3 Project/Logs/shadercompiler-UnityShaderCompiler.exe11.log
Year 3 Project/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Year 3 Project/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Year 3 Project/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Year 3 Project/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Year 3 Project/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Year 3 Project/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Year 3 Project/Logs/shadercompiler-UnityShaderCompiler.exe8.log
Year 3 Project/Logs/shadercompiler-UnityShaderCompiler.exe9.log
Year 3 Project/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
Year 3 Project/Year 3 Project.sln
